:root{
    --text-color: #CD1818;
    --rad: .7rem;
    --dur: .3s;
    --color-light: #fff;
    --font-fam: 'Lato', sans-serif;
    --height: 3rem;
    --btn-width: 6rem;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
    --bg-color: #191919
}
::-webkit-scrollbar{
    display: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: var(--bg-color);
}
h1{
    margin: 0;
}
/* KHU VUC NAV BAR */
.menu li {
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: white;
}
ul.dropdown li{
    display: block;
    font-size: 1.3rem;
}
ul.dropdown{
    z-index: 999999;
    display: none;
    width: 100%;
    position: absolute;
    background-color: #222;
    padding: 0;
}
.nav-menu li:hover ul.dropdown, .nav-menu li:active ul.dropdown{
    display: block;
}
.menu{
    background-color: black;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1.5rem;
}
dl,ol,ul{
    margin: 0;
}
.hamburger {
    display: none;
}
.navbar > a{
    color:#CD1818 ;
    font-weight: bold;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    /* background-color: #101010; */
    background-color: #fff;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff!important;
    /* change */
}
.nav-menu a{
    transition: 0.2s;
    padding: 10px 40px;
    display: block;
}
.nav-menu a:hover {
    color: white;
    background-color:#CD1818;
    cursor: pointer;
}

.nav-logo {
    font-size: 2.5rem;
    font-weight: 500;
    /* color: #482ff7; */
    color: #fff;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #222;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
        z-index: 99;
        padding: 0;
    }

    .nav-link {
        color: #fff;
    }

    .nav-menu.active {
        left: 0;
        padding: 0;
    }

    .nav-item {
        margin: 1rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    ul.dropdown{
        width: 100vw;
        left: 0;
    }
    ul.dropdown li a{
        font-size:1.3rem ;
    }

}

/* BANNER CHAU TINH TRI */
.banner{
    overflow: hidden;
    height: 87vh;
}
 .slider{
    width: 100vw;
    height: 100vh;
    position: relative;
    margin: auto;
    overflow: hidden;
}
 .slider .list{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: all 1s;
}
.list img{
    height: 100%;
    width: 100vw;
    object-fit: cover;
}
.dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
}
.dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    margin: 20px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    transition: 1s;

}
.dots li.on{
    width: 30px; 
}

form {
  position: relative;
  width: 20rem;
  background: var(--color-brand);
  border-radius: var(--rad);
}
input, button {
  height: var(--height);
  font-family: var(--font-fam);
  border: 0;
  color: white;
  font-size: 1.2rem;
}
input{
    color: black;
}
input[type="search"] {
  outline: 0;
  width: 100%;
  background: var(--color-light);
  padding: 0 1.6rem;
  border-radius: var(--rad);
  appearance: none;
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}
button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: var(--btn-width);
  background: var(--text-color);
  border-radius: 0 var(--rad) var(--rad) 0;
}
input:not(:placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - var(--btn-width));
  + button {
    display: block;
  }
}
label {
  position: absolute;
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.main-tit{
    color: #CD1818;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: 3em;
}
.search h1{
    text-align: center;
    font-size: 60px;
    color: white;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 5px red;
}
.search{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.slider-item{
    background-color: #1f1f1f;
    padding: 20px 10px;
}
.slider-item a{
    text-decoration: none;
    color: white;
    text-align: center;
}
.slider-item h5{
    margin-top: 0.7rem;
    margin-bottom: 0;
}
.cover{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.slider-item i{
    position: absolute;
    z-index: 99;
    top: 35%;
    left: 35%;
    padding: 20px;
    border-radius: 50px;
    font-size: 3rem;
    opacity: 0;
    transition: 0.3s;
    color: #CD1818;
}
.slider-item img{
    width: 100%;
    transition: 0.3s;
}
.slider-item:hover i{
    opacity: 1;
}
.slider-item:hover img{
    transform: scale(1.08);
    filter: grayscale(0.8);
}
.movie{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;}
.movie-list{
    background-color: red;
    display: flex;
    max-width: 100%;
}
.flex{
    display: flex;
}
.swiper-slide{
    background-color: red;
}
.feedback-one{
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(165, 165, 165, 0.678);
    padding: 10px 0px;
}
.feedback-content{
    padding: 20px 10px;
    margin: 0 40px;
    overflow: hidden;
}
.feedback-container{
    max-width: 1120px;
    width: 70%;
}
.swiperbutt{
    width: 50px !important;
    height: 50px !important;
    background-color: #ffffff;
    color: var(--coffee) !important;
    border-radius: 50%;
}
.swiperbutt::after, .swiperbutt::before{
    font-size: 20px !important;
}
