@import url('https://fonts.googleapis.com/css2?family=Arsenal:wght@400;700&display=swap');

:root {
    --xanh: #003D82;
    --vang: #d5d5d5;
    --text-color: #CD1818;
    --color-light: #fff;
    --bg-color: #191919
}

*, *::after, *::before {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}

body {
    font-weight: 300;
    font-size: 1, 6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--vang);
    margin: 0;
    padding: 0;
    background: #191919
}

a {
    font-weight: 400;
    text-decoration: none;
    color: white;
}
.reset-list{
    list-style: none;
    margin: 0;
    padding: 0;
}


.linkplay .link a{
    background: linear-gradient(8deg,#600303,hsl(0, 59%, 46%));
    border-radius: 50%;
    padding: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 6px #020202;
    transition: all .5s;
    position: relative;
}
.linkplay .link a::after{
    position: absolute;
    content: "";
    width: 150%;
    height: 150%;
    border: solid 2px var(--vang);
    border-radius: 50%;
    opacity: 0;
    transition: .5s;
    transition-delay: .3s;
}
.link p {
    color: #707070;
    font-weight: 700;
    transition: all .5s;
}
.linkplay .link .active::after, .linkplay .link a:hover::after{
    opacity: 1;
    width: 110%;
    height: 110%;
}


.linkplay .link a:hover,.linkplay .link .active{
    background-color: var(--text-color);
}
.linkplay .link a:hover p,.linkplay .link .active p{
    color: var(--vang);
}

body{
    background-color: var(--bg-color)!important;
}
h1{
    margin: 0;
}

/* KHU VUC NAV BAR */
.menu li {
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: white;
}
ul.dropdown li{
    display: block;
    font-size: 1.3rem;
}
ul.dropdown{
    z-index: 999999;
    display: none;
    width: 100%;
    position: absolute;
    background-color: #222;
    padding: 0;
}
.nav-menu li:hover ul.dropdown{
    display: block;
}
.menu{
    background-color: black;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1.5rem;
}
dl,ol,ul{
    margin: 0;
}
.hamburger {
    display: none;
}
.navbar > a{
    color:#CD1818 ;
    font-weight: bold;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    /* background-color: #101010; */
    background-color: #fff;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    /* change */
}
.nav-menu a{
    transition: 0.2s;
    padding: 10px 40px;
    display: block;
}
.nav-menu a:hover {
    color: white;
    background-color:#CD1818;
    cursor: pointer;
}

.nav-logo {
    font-size: 2.5rem;
    font-weight: 500;
    color: #CD1818;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #222;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
        z-index: 99;
    }

    .nav-link {
        color: #fff;
    }

    .nav-menu.active {
        left: 0;
        padding: 0;
    }

    .nav-item {
        margin: 1rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    ul.dropdown{
        width: 100vw;
        left: 0;
    }
    ul.dropdown li a{
        font-size:1.3rem ;
    }

}
/* -------------------------BACK TO TOP---------------------------- */
#back-to-top{
    position: fixed;
    display: block;
    opacity: 0;
    width: 50px;
    height: 50px;
    bottom: 25px;
    right: 25px;
    cursor: pointer;
    background-color: var(--text-color);
    border-radius: 50%;
    transition: 0.4s;
    z-index: 999;
    box-shadow: 0px 5px 5px rgba(15, 15, 15, 0.64);
}
#back-to-top i{
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
#back-to-top.show{
    opacity: 0.6;
    transition: all 0.3s linear;
    animation: fadeInUp;
    animation-duration: 0.6s;

}
#back-to-top.show:hover {
    opacity: 1;
    font-size: 20px;
}
/*===========FAQ==========*/
.faq-one{
    display: block;
    margin: 20px 0px;
    padding: 10px 15px;
    cursor: pointer;
}
.faq-one h2{
    display: inline-block;
    margin-right: 20px;
}
.answer p{
    font-size: 16px;
    line-height: 30px;
    color: #6b6460;
    margin-bottom: 30px;
}
.answer{
    max-height: 0;
    overflow: hidden;
}
.faq-one.active .answer{
    max-height: max-content;
    transition: 0.5s!important;
}
.faq-one.active .tieudeth i{
    transform: rotate(180deg);
}
/*=============*/
.show-menu #btn-menu .mid {
    opacity: 0;
}

.show-menu #btn-menu .top {
    transform: translate(0, 8px) rotate(45deg);
    fill: red;
}

.show-menu #btn-menu .bot {
    transform: translate(0, -8px) rotate(-45deg);
    fill: red;
}
header .home{
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 10px #35013b;
    border-radius: 50%;
    transition: .5s;
    position: relative;
    background-color: #7e7e7e;
}
header .home::before{
    color: #b6b6b6;
    content: "ĐIỆN ẢNH HONGKONG";
    width: max-content;
    height: 100%;
    position: absolute;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    left:calc(100% + 60%) ;
    transition: all .5s;
    display: none;
}
header .home:hover::before{
    color: #ededed;
}
header .home img{
    width: 80%;
    transition: .5s;
}
header .home:hover{
    background-color: var(--vang);
}
header .home::after{
    content: "";
    display: block;
    width: 150%;
    height: 150%;
    position: absolute;
    border: solid 2px var(--vang);
    border-radius: 50%;
    opacity: 0;
    transition: all .5s;
    transition-delay: .2s;
}
header .home:hover::after{
    opacity: 1;
    width: 100%;
    height: 100%;
}
header .home:hover img
{
    width: 96%;
}
/* ----------------------------------Menu Link------------------------------------------------ */

header .menu-link{
    background: linear-gradient(0deg,rgb(51, 5, 86),hsl(274, 89%, 21%));
    height: 100vh;
    width: 100%;
    transition: all 0.3s;
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.show-menu .menu-link{
  
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.show-menu header{
    z-index: 10;
}
header .menu-link ul{
   padding: 10px 20px;
}
header .menu-link ul li{
    margin-top: 15px;
    /* padding: 10px; */
   
    background: linear-gradient(138deg,#4f10a1,hsl(288, 85%, 28%));
    border-radius: 50px;
    box-shadow: 0px 5px 10px #431c72a4;
    /* border: solid 1px var(--vang); */
    transition: all .2s;
}
header .menu-link ul li a{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px;
    /* background-color: #000000; */
}
header .menu-link ul li span{
    font-size: 16px;
    font-weight: 700;
    color: var(--vang);
    transition: all 0.5s;
}
header .menu-link ul li:hover{
     border: solid 2px var(--vang);
}
header .menu-link ul li a:hover span{
        color: red;
}
header+* {
    margin-top: 10px;
}


.main {
    padding: 40px 20px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.main .link {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.tieude {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}

.play {
    margin-top: 30px;
}

.play .playn {
    background-color: #000000;
}

.play iframe {
    /* background-color: aquamarine; */
    /* margin-top: 30px; */
    width: 100%;
    height: 210px;
    /* max-height: 400px; */
}
/* nhúng u3m8 */
.video-js {
    /* background-color: aquamarine; */
    /* margin-top: 30px; */
    width: 100%;
    height: 210px!important;
    /* max-height: 400px; */
}

.name {
    /* background-color: #874d17; */
    text-align: right;
    padding-bottom: 50px;
}
.main .thap{
    display: flex;
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.main .thap a{
    background: linear-gradient(8deg,#2c177f,hsl(294, 73%, 29%));
    width: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px 0;
    transition: all .5s;
    position: relative;
    box-shadow: 0px 2px 10px #1c033aa4;
}
.main .thap .chon{
    border: solid 2px var(--vang);
    background: linear-gradient(8deg,#2d10a1,hsl(294, 85%, 28%));
    
}
.main .thap a p{
    font-size: 14px;
    margin: 0;
    padding: 0;
    font-weight: 900;
    color: #707070;
    transition: .5s;
}
.main .thap .chon p{
    color: var(--vang);
}
.main .thap a:hover{
    background: linear-gradient(8deg,#2d10a1,hsl(294, 85%, 28%));
}
.main .thap a:hover p{
    color: var(--vang);
}



.main .sever{
    /* background-color: #fedfdb; */
    display: flex;
    gap: 20px;
    justify-content: center;
}

.main .sever .chon, .main .sever a:hover {
    background-color: var(--text-color);
    box-shadow: 0px 3px 3px black;
    opacity: 1;
}
.main .sever a:hover p{
    transform: scale(1.2);
}
.main .sever .chon p{
    color: white
}
.main .sever a{
    background-color: var(--text-color);
    margin-top: 10px;
    padding: 10px 40px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px #1c033aa4;
    opacity: 0.6;
}
.main .sever a p{
    font-size: 12px;
    color: white;
    font-weight: 900;
    padding: 0;
    margin: 0;
    transition: .3s;
}

.main .sever a:hover p{
    color: var(--vang);
}
/* --------------------------------------------------------- */
.gtdht {
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
}

.xemngay {
    display: flex;
    justify-content: center;
}

.xemngay a {
    background-color: var(--vang);
    /* padding:50px; */
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.xemngay span {
    color: var(--xanh);
    font-weight: 700;
    font-size: 1.6rem;
}

.chiaphim .active {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}

.chiaphim{
    /* background-color: aqua; */
    padding: 20px 0;
    padding-top: 0;
    margin-bottom: 10px;
    display: flex;
    gap: 8px;
}
.chiaphim a{
    display: inline-block;
    background-color: var(--vang);
    padding: 10px 8px;
    border-radius: 15px;
}
.chiaphim a span{
    font-size: 10px;
    font-weight: 700;
}

/* ----------/------------------------------------------------ */
.allfilm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
    padding-bottom: 80px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
.allfilm a div{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
}
.allfilm a:hover img{
    filter: grayscale(0.7);
    transform: scale(1.07);

}
.allfilm a:hover i{
    opacity: 1;
}
.allfilm i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 5rem;
    color: #CD1818;
    opacity: 0;
    transition: 0.4s;
}
.img-container{
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: max-content!important;
}
.allfilm a div{
    position: relative;
}
.allfilm a div span{
    color: var(--text-color);
    background-color: var(--color-light);
    position: absolute;
    right: 0px;
    top: 0;
    padding: 0px 10px;
    opacity: 0.8;
    border-radius: 0px 5px 0px 5px;
    font-weight: 700;
}
.allfilm a img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 7px;
    box-shadow: 0px 2px 4px #313223;
    transition: .3s;
    /* transition-delay: .3s; */
}
.allfilm h5 {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    transition: 0.5s;
}
/*-----------------footer------------*/
footer {

    position: relative;
    padding: 20px;
    box-shadow: 0px -2px 10px #1c033aa4;
}
footer .linkft{
    margin-bottom: 40px;
    /* padding: 0 10%; */

}
footer .linkft a{
    display: block;
    transition: .5s;
}
footer .linkft a p{
    color: var(--vang);
    font-size: 15px;
    font-weight: 600;
    padding: 15px ;
    transition: 0.5s;
}
footer .linkft a:hover{
    background-color: var(--text-color);
    box-shadow: 0px -2px 10px #1c033aa4;
    border-radius: 30px;
}
footer .linkft a:hover p{
    color: whitesmoke;
}
footer p {
    /* background-color: #F8EADD; */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.thanbai {
    max-width: 1100px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.thanbai h1, .gtdht h2 {
    font-size: 2.5rem;
}

.thanbai p, .gtdht p {
    font-size: 1.6rem;
    text-align: justify;
}

.thanbai div, .noidungdht div {
    display: flex;
    justify-content: center;
}

.thanbai img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.gtdht img {
    max-width: 100%;
}

.tieudeth {
    max-width: 1100px;
    /* background-color: aqua; */
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.tieudeth h2 {
    font-size: 1.3rem;
}




@media screen and (min-width :600px) {
    .play iframe {
        /* background-color: aquamarine; */
        margin-top: 30px;
        width: 100%;
        height: 400px;
        /* max-height: 400px; */
    }
    /* nhúng u3m8 */
    .video-js {
        /* background-color: aquamarine; */
        margin-top: 30px;
        width: 100%;
        height: 400px!important;
        /* max-height: 400px; */
    }
    .videogt{
        background-color: #000000;
        padding: 5px;
    }
    .allfilm {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    footer .linkft{
        display: flex;
        justify-content: center;
        gap: 40px;
    }
    footer .linkft a p{
        font-size: 16px;
        padding: 15px 50px;
        border-radius: 30px;
    }
}

@media screen and (min-width :960px) {
    header {
        position: relative;
        background: transparent;
        z-index: 0;
    }
    header .home::before{
        content: "";
        width: 0;
    }
    header .hide-tab{
        display: none;
    }
    header .main-header{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    header .menu-link{
        clip-path: none;
        right: 0;
        position: relative;
        background: transparent;
        height: max-content;
    }
    header .menu-link ul{
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        gap: 25px;
        padding: 20px 20px 20px 0;
        background-color: transparent;
        border-radius: 50px;
    }
    header .menu-link ul li{
        margin: 0;
        padding: 0;
        border: none;
        background: transparent;
        box-shadow: none;
        position: relative;
    }
    header .menu-link ul li a{
        padding: 0;
    }
    header .menu-link ul li::after{
        content: "";
        width: 0%;
        height: 2px;
        border-radius: 2px;
        position: absolute;
        bottom: -5px;
        background-color: var(--vang);
        opacity: 0;
        transition: all 0.5s;
    }
    header .menu-link ul li:hover::after{
        opacity: 1;
        width: 100%;
        background-color: red;
    }
    header .menu-link ul li:hover{
        border: none;
    }
    header .menu-link ul li a span{
        font-size: 17px;
        color: var(--vang);
        transition: color .5s;
    }
    header .menu-link ul li a:hover span{
        color: red;
    }
    header+* {
        margin-top: 0px;
    }
    .play iframe {
        width: 100%;
    }
    /* nhúng u3m8 */
    .video-js {
        width: 100%;
    }

    .allfilm {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
    }
}
img[src="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {
    display: none;
}
@media screen and (max-width:516px) {
    .tieudeth h2 {
        font-size: 1.1rem;
    }
    .main .sever a{
        text-align: center;
        
    }
}